<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.trip.base.mapper.CircleForFriendsMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.trip.base.domain.CircleForFriends">
    <id column="id" property="id" />
    <result column="content" property="content" />
    <result column="imgUrls" property="imgUrls" />
    <result column="releaseTime" property="releaseTime" />

    <association property="user" javaType="user" columnPrefix="u_">
      <id column="id" property="id" />
      <result column="nickName" property="nickName" />
      <result column="headImgUrl" property="headImgUrl" />
      <result column="coverImgUrl" property="coverImgUrl" />
    </association>

    <association property="praiseCollect" javaType="praiseCollect" columnPrefix="pc_">
      <result column="praise" property="praise"/>
      <result column="parentId" property="parentId"/>
    </association>

  </resultMap>
  <delete id="deleteByPrimaryKey">
    DELETE FROM circleforfriends
    WHERE id = #{id}
  </delete>

  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    INSERT INTO circleforfriends (user_id, content, imgUrls, releaseTime)
    VALUES (#{user.id}, #{content}, #{imgUrls}, #{releaseTime})
  </insert>

  <update id="updateByPrimaryKey">
    UPDATE circleforfriends
    SET user_id = #{user.id},
    content = #{content},
    imgUrls = #{imgUrls},
    releaseTime = #{releaseTime}
    WHERE id = #{id}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    SELECT id, user_id, content, imgUrls, releaseTime
    FROM circleforfriends
    WHERE id = #{id}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    SELECT id, user_id, content, imgUrls, releaseTime
    FROM circleforfriends
  </select>

  <select id="selectForList" resultMap="BaseResultMap">
    SELECT
    cs.id,
    cs.user_id,
    cs.content,
    cs.imgUrls,
    cs.releaseTime,
    u.id u_id,
    u.nickName u_nickName,
    u.headImgUrl u_headImgUrl,
    u.coverImgUrl u_coverImgUrl,
    pc.parentId pc_parentId,
    pc.praise pc_praise
    FROM
    circleforfriends cs
    JOIN USER u ON cs.user_id = u.id
    LEFT JOIN praisecollect pc ON pc.parentId = cs.id and pc.type_id = #{loginUserId}
    <where>
      <if test = "userId != null" >
        AND u.id = #{userId}
      </if>
    </where>
  </select>
  <select id="selectReleaseTime" resultMap="BaseResultMap">
    SELECT cs.id, cs.user_id, cs.content, cs.imgUrls, cs.releaseTime,
    u.id u_id,u.nickName u_nickName,u.headImgUrl u_headImgUrl,u.coverImgUrl u_coverImgUrl
    FROM circleforfriends cs
    JOIN user u ON cs.user_id=u.id
    WHERE u.id=#{id}

  </select>
</mapper>