<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.trip.base.mapper.HotelOrderMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.trip.base.domain.HotelOrder">
    <id column="id" property="id" />
    <result column="roomNum" property="roomNum" />
    <result column="peopleNum" property="peopleNum" />
    <result column="tel" property="tel" />
    <result column="price" property="price" />
    <result column="startTime" property="startTime" />
    <result column="endTime" property="endTime" />
    <result column="state" property="state" />
    <association property="user" javaType="User" columnPrefix="u_">
      <id column="id" property="id" />
      <result column="nickName" property="nickName" />
    </association>
    <association property="hotelroomdetail" javaType="HotelRoomDetail" columnPrefix="hrd_">
      <id column="id" property="id" />
      <result column="roomName" property="roomName" />
      <result column="roomPic" property="roomPic" />
      <association property="hotel" javaType="Hotel" columnPrefix="h_">
        <id column="id" property="id" />
        <result column="name" property="name" />
      </association>
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from hotelorder
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into hotelorder (user_id, hotelroomdetail_id, roomNum, peopleNum, tel, price, 
      startTime, endTime, state)
    values (#{user.id}, #{hotelroomdetail.id}, #{roomNum}, #{peopleNum}, #{tel}, #{price}, 
      #{startTime}, #{endTime}, #{state})
  </insert>
  <update id="updateByPrimaryKey">
    update hotelorder
    set user_id = #{user.id},
      hotelroomdetail_id = #{hotelroomdetail.id},
      roomNum = #{roomNum},
      peopleNum = #{peopleNum},
      tel = #{tel},
      price = #{price},
      startTime = #{startTime},
      endTime = #{endTime},
      state = #{state}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, user_id, hotelroomdetail_id, roomNum, peopleNum, tel, price, startTime, 
    endTime, state
    from hotelorder
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, hotelroomdetail_id, roomNum, peopleNum, tel, price, startTime, 
    endTime, state
    from hotelorder
  </select>
  <select id="selectForList" resultMap="BaseResultMap">
    select ho.id, ho.user_id, ho.hotelroomdetail_id, ho.roomNum, ho.peopleNum, ho.tel, ho.price, ho.startTime,
    ho.endTime, ho.state,
    u.id u_id,u.nickName u_nickName,
    hrd.id hrd_id,hrd.roomName hrd_roomName,hrd.roomPic hrd_roomPic,
    h.id hrd_h_id,h.name hrd_h_name
    from hotelorder ho
    join user u on ho.user_id = u.id
    join hotelroomdetail hrd on ho.hotelroomdetail_id = hrd.id
    join hotel h on h.id = hrd.hotel_id
    <where>
      <if test="state!=null">
        and ho.state = #{state}
      </if>
      <if test="userId!=null and userId!=''">
        and ho.user_id = #{userId}
      </if>
    </where>
  </select>
</mapper>