<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.trip.base.mapper.IntegralStoreOrderMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.trip.base.domain.IntegralStoreOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="total_money" jdbcType="INTEGER" property="totalMoney" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="state" jdbcType="BIT" property="state" />
    <result column="count" jdbcType="BIT" property="count" />
    <association property="customer" column="customer_id" javaType="Customer" fetchType="eager" select="cn.wolfcode.trip.base.mapper.CustomerMapper.selectByUserId"></association>
    <association property="goods" column="goods_id" javaType="Goods" fetchType="eager" select="cn.wolfcode.trip.base.mapper.GoodsMapper.selectByPrimaryKey"></association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from integral_store_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.wolfcode.trip.base.domain.IntegralStoreOrder" useGeneratedKeys="true">
    insert into integral_store_order (expressage_id, goods_id, customer_id, 
      total_money, date, state,count)
    values (#{expressage.id,jdbcType=BIGINT}, #{goods.id,jdbcType=BIGINT}, #{customer.id,jdbcType=BIGINT},
      #{totalMoney,jdbcType=INTEGER}, #{date,jdbcType=DATE}, #{state,jdbcType=BIT},#{count})
  </insert>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, expressage_id, goods_id, customer_id, total_money, date, state,count
    from integral_store_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, expressage_id, goods_id, customer_id, total_money, date, state,count
    from integral_store_order WHERE customer_id= #{userId} and state = #{status}

  </select>
</mapper>